<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />
    <style type="text/css">
        html, body {
            height: 100%;
            width : 100%;
        }
       #map {
	  height: 95%;
          width : 95%;
        }
    </style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="map"></div>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		var map = L.map('map').setView([51.5, -0.09], 13);

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

        $.get( "/mapdata", function( data ) {

                for(var i = 0; i < data.length; i++) {
                    var obj = data[i];
        	    L.marker([obj.fields.location_x, obj.fields.location_y])
			.bindPopup('<img src = "http://127.0.0.1:3000/' + obj.fields.image_path + '"height = 225px width = 150px"><br><a target="_blank" href = "http://127.0.0.1:3000/' + obj.fields.image_path + '">Enlarged view</a>' )
		.addTo(map); 
                }
	});

	</script>
	{% if user.is_authenticated %}
	<a href="{% url 'uploadimage' %}">Upload Image</a>
	<a href="{% url 'approveimages' %}">Approve other images</a>
	{% else %}
	<a href="{% url 'signin' %}">Login</a>
	{% endif %}
</body>
</html>

